			body{
			background-color: #121316;
			}
						
			.productdiv{
			width: 100%;
			margin: 90 0 100 0;
			}
			
			.products h1{
			font-size: 100%;
			}
			
			.contact{
			background-color: #34363c;
			}
			
			.contact i{
			display: inline-block;
			margin: 5 0 5 10;
			color: lightgray;
			}
			
			.contact p{
			display: inline-block;
			margin: 5 10 5 0;
				color: lightgray;
			}
			
			.carousel-caption h5{
			font-size: 40px;
			font-weight: bold;
			
			}
			
			.carousel-caption{
			text-shadow: 2px 2px 1px #000000;
			}
			
		
			.footerright i{
			font-size: 40px;
			margin: 0 20 0 0;
			color:white;
		
			}
			
			.footerright h1{
			color:white;
			}
		
			.footerleft{
			margin: 20 0 10 90;
			font-weight: bold;
			color: lightgray;
			}
			
			.navbar-toggler-icon{
			background-image: url(essentials/bar.png)!important
			}
			
			.nav-link{
			color: white !important;
			}
			
				
			.container1AU{
			width: 100%;
			}
			
			.abtustagline{
				 font-size: 80px;
			}
			
			.list-group-item{
			background-color:#252525;	
			}
			
			.list-group-item h5{
			color:#ffffff;
			}
		
			.list-group-item p{
			color:#b5b5b5!important
			}

			.list-group-item h6{
			color:#f9ffa3;
			}
			
			.nav-link{
			font-size: 30px;
			font-family: 'Squada One', cursive;
			
			}
			
			.dropdown-item{
					font-size: 30px;
			font-family: 'Squada One', cursive;
			}
			
			.nav-link:hover{
				color:#26e1ff!important;
				
			}
			
			.order-lg-2{
				margin: 0 0 50px 0
				
			}
			
			.panel-heading{
				padding: 10 10 10 10; 
				background-color:#34363c;
				border-radius: 20px;
				margin-bottom: 30px;
				text-align:center;
		
			}
			
			.panel-body{
				margin: 0 0 50px 0;
					text-align:center;
					color:white;
			}
			
			.ing{
				color: #eaeaea;
			}
			
			.ing:hover{
				color: #26e1ff;
				text-decoration:none;
			}
			
			
			.faqclass{
				margin: 30px 0 30px 0;
				color: white;
				
				
			}
			
			.team-section{
				color:white;
				width: 95%;
				
			}
			
			
			.rounded-circle{
				opacity:0.5;
				 transition: .5s;
				 margin: 20px 0 0 0;
				
			}
			
			.rounded-circle:hover{
				opacity:1;
				transform: scale(1.2); 
				
			}
	
			.team-section{
			background-color:#1f1f1f;	
			 border-radius: 10px;
		
			}
			
			.h1-responsive{
				color:white;
				text-align:center;
				
			}
			
			.policy{
				width: 90%;
				text-align: center;
				height: 100%;
				
			}
			
			.font-weight-normal{
				margin: 0 20 20 20;
				
			}

			@media screen and (max-width: 480px){
				
				.navbar{
				height: 70px;
				}
				
				
				.bignav{
				visibility: hidden;
				}
				
				.navbar-toggler{
				background-color: #34363c;
				}
				
				.productdiv .products{
				width: 70%;
				color: lightgray;
				margin: 0 0 100 0;
				
				}
				
				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: rl(games/auwallpaper.jpg);
				background-position: 30pswx;
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}

				.dbimg{
				background-image: url(dbrelated/dbstore.jpg); 
				width: 80%;
				height: 450px; 
				background-size: 100%; 
				background-repeat: no-repeat;
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg2{
				background-image: url(dbrelated/consoles.jpg); 
				width: 80%;
				height: 450px;
				background-size: 100%; 
				background-repeat: no-repeat;		
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg3{
				background-image: url(dbrelated/abtus.jpg); 
				width: 80%;
				height: 450px; 
				background-size: 100%; 
				background-repeat: no-repeat;		
				margin: 30 auto 0 auto;
				border-radius: 5px;
				
				}
				
				.bestxpbg{
				width: 100%;
				height: 400px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 60% 0px;
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}


				
				.dbis{			 
				color: white; 
				margin: 0 5% 60 5%; 
				font-size:20px;		
				border-radius: 5px;
				

				}
				
				.dbis p{
				margin-left: 8px;
				margin-right: 8px;
				text-shadow: 2px 2px 1px #000000;
				
				}
				
				.dbis2{			
				color: white; 
				margin: 0 5% 60 5%; 
				font-size: 20px;		
				border-radius: 5px;
				}
				
				.dbis2 p{
				text-align: -webkit-center;
				margin-left: 0;
				margin-right: 0;
				text-shadow: 2px 2px 1px #000000;			
				}
				
				.abtusblk{
				margin-bottom: 60px;
				}
				
				
				.dbis3{
			
				color: white; 
				margin: 0 5% 0 5%; 
				font-size:20px;		
				border-radius: 5px;

				}

				.abtustagline{
				 font-size: 50px;
				 	margin: -40 0 0 0;
				}
				
		
			}

			@media screen and (max-width: 768px) and (min-width: 481px)  { 
				.bignav{
				visibility: hidden;
				position: absolute;
				}
				
				.navbar-toggler{
				background-color: #34363c;
				}
	
				.productdiv .products{
				width: 70%;
				color: lightgray;
				margin: 0 0 100 0;
				}
		
				.footerright i{
				font-size: 40px;
				margin: 0 20 0 0;		
				}
				
				.footerright{
				margin: 20 0 0 20;
				top: ;
				
				}
				
				.footerleft{
				margin: 20 0 0 20;
				}

				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: rl(games/auwallpaper.jpg);
				background-position: 30pswx;
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}

				.dbimg{
				background-image: url(dbrelated/dbstore.jpg); 
				width: 80%;
				height: 450px; 
				background-size: 100%; 
				background-repeat: no-repeat;
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg2{
				background-image: url(dbrelated/consoles.jpg); 
				width: 80%;
				height: 450px;
				background-size: 100%; 
				background-repeat: no-repeat;		
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg3{
				background-image: url(dbrelated/abtus.jpg); 
				width: 80%;
				height: 450px; 
				background-size: 100%; 
				background-repeat: no-repeat;		
				margin: 30 auto 0 auto;
				border-radius: 5px;
				
				}
				
				.bestxpbg{
				width: 100%;
				height: 400px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 60% 0px;
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}


				
				.dbis{			 
				color: white; 
				margin: 0 5% 60 5%; 
				font-size:20px;		
				border-radius: 5px;
				

				}
				
				.dbis p{
				margin-left: 8px;
				margin-right: 8px;
				text-shadow: 2px 2px 1px #000000;
				
				}
				
				.dbis2{			
				color: white; 
				margin: 0 5% 60 5%; 
				font-size: 20px;		
				border-radius: 5px;
				}
				
				.dbis2 p{
				text-align: -webkit-center;
				margin-left: 0;
				margin-right: 0;
				text-shadow: 2px 2px 1px #000000;			
				}
				
				.abtusblk{
				margin-bottom: 60px;
				}
				
				
				.dbis3{
			
				color: white; 
				margin: 0 5% 0 5%; 
				font-size:20px;		
				border-radius: 5px;

				}

				.abtustagline{
				 font-size: 50px;
				 	margin: -40 0 0 0;
				}




				}
				
				
			
			@media screen and (max-width: 1279px) and (min-width: 769px)  { 
				
				
				.carousel-item{
				width: 100%; 
				height: 600px; 
				overflow: hidden;
				}
		
				
				.productdiv .products{
				display: inline-block;
				width: 20%;
				color: lightgray;
			}
			
				.footerright{
				float: right;
				}
				
				.footerright h1{
				 margin: 100 100 10 0;
				}
				
				.footerleft{
				margin: 20 0 10 90;
				}
				
				
				
				
				.dbimg{
				background-image: url(dbrelated/dbstore.jpg); 
				width: 600px;
				height: 450px; 
				background-size: 100%; 
				background-repeat: no-repeat;
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg2{
				background-image: url(dbrelated/consoles.jpg); 
				width: 600px;
				height: 450px;
				background-size: 100%; 
				background-repeat: no-repeat;		
				margin: 30 auto 0 auto;
				border-radius: 5px;
				}
				
				.dbimg3{
				background-image: url(dbrelated/abtus.jpg); 
				width: 600px;
				height: 450px; 
				background-size: 100%; 
				margin: 30 auto 0 auto;
				border-radius: 5px;
				
				}
				
				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 40% 0px;
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}
				
				
				.dbis{			 
				color: white; 
				margin: 50 5% 60 5%; 
				font-size:23px;		
				border-radius: 5px;
				

				}
				
				.dbis p{
				margin-left: 8px;
				margin-right: 8px;
				text-shadow: 2px 2px 1px #000000;
				
				}
				
				.dbis2{			
				color: white; 
				margin: 0 5% 60 5%; 
				font-size: 20px;		
				border-radius: 5px;
				}
				
				.dbis2 p{
				text-align: -webkit-center;
				margin-left: 0;
				margin-right: 0;
				text-shadow: 2px 2px 1px #000000;			
				}
				
				.abtusblk{
				margin-bottom: 60px;
				}
				
				
				.dbis3{
				color: white; 
				margin: 40 5% 0 5%; 
				font-size:23px;		
				border-radius: 5px;

				}
				
							.products{
				transition: transform .5s;
					
				}
				
				.products:hover{
				transform: scale(1.2); 
					
				}
				
				
				
				
				
				
				
				
			
			}
			
			@media screen and (min-width: 1280px){ 
				
				#coldsteel{
					margin-top:-10%;
					float:right
				}
				
				
				.carousel-item{
				width: 100%; 
				height: 600px; 
				overflow: hidden;
				}
				
				.productdiv .products{
				display: inline-block;
				width: 20%;
				color: lightgray;
			}
				
				.footerright{
				float: right;
				}
				
				.footerright h1{
				 margin: 100 100 10 0;
				}
				
				.footerleft{
				margin: 20 0 10 90;
				}
				
				.dbimg{
				background-image: url(dbrelated/dbstore.jpg); 
				width: 500px;
				height: 350px; 
				background-size: 100%; 
				background-repeat: no-repeat;
				display:inline-block;
				margin: 30 0 35 50;
				border-radius: 5px;
				}
				
				.dbimg2{
				background-image: url(dbrelated/consoles.jpg); 
				width: 500px;
				height: 350px; 
				background-size: 100%; 
				background-repeat: no-repeat;
				display:inline-block;
				margin: 0 0 35 0;
				border-radius: 5px;
				position: absolute;
				right: 100px;
				}
				
				.dbimg3{
				background-image: url(dbrelated/abtus.jpg); 
				width: 500px;
				height: 350px; 
				background-size: 100%; 
				background-repeat: no-repeat;	
				margin: 150 0 35 50;
				border-radius: 5px;
				}
				
				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				opacity: 0.5;
				position: relative;
				box-shadow: 0px 0px 8px #ffffff;
				background-repeat: no-repeat;		
				}
				
				
				.dbis{
				float:right; 
				color: white; 
				margin: 130 5% 0 5%; 
				font-size:23px;		
				border-radius: 5px;

				}
				
				.dbis p{
				margin-left: 8px ;
				margin-right: 8px;
				text-shadow: 2px 2px 1px #000000;
				
				}
				
				.dbis2{
				
				color: white; 
				margin: 40 0 0 70; 
				font-size: 20px;		
				border-radius: 5px;
				}
				
				.dbis2 p{
				margin-left: 0 ;
				margin-right: 0;
				text-shadow: 2px 2px 1px #000000;			
				}
				
				.abtusblk{
				margin-bottom: 60px;
				}
				
				.p3{
				display:absolute;
				margin: -380 0 0 0;
				}

				.dbis3{
				float:right; 
				color: white; 
				margin: 40 5% 0 5%; 
				font-size:23px;		
				border-radius: 5px;

				}
				
				.products{
				transition: transform .5s;
					
				}
				
				.products:hover{
				transform: scale(1.2); 
					
				}
				
			}
			
			